<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    Carlos Nomar Gutiérrez Garcia
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2024 <a href="http://www.uadec.mx/fca-ut/">FCA</a>.</strong> All rights reserved.
</footer>
