<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        @include('partials/navbar')
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        @include('partials/sidebar')

        <!-- Content Wrapper. Contains page content -->
        <section class="layout">
            <main>
                @!section('body')
            </main>
        </section>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        @include('partials/footer')
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="dist/js/pages/dashboard3.js"></script>

    <!-- SweetAlert2 -->
    <script src="plugins/sweetalert2/sweetalert2.min.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="plugins/jszip/jszip.min.js"></script>
    <script src="plugins/pdfmake/pdfmake.min.js"></script>
    <script src="plugins/pdfmake/vfs_fonts.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="dist/js/forms.js"></script>
    <script>
        $(function () {
            $('#{{ table_id }}')
                .DataTable({
                    responsive: true,
                    paging: true,
                    lengthChange: false,
                    searching: true,
                    ordering: true,
                    order: [[0, 'desc']],
                    info: true,
                    autoWidth: false,
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print', 'colvis'],
                    columnDefs: [{ orderable: false, targets: 'no-sort' }],
                })
                .buttons()
                .container()
                .appendTo('#{{ table_id }}_wrapper .col-md-6:eq(0)')
        })

        $(document).ready(function () {
            $('#{{ create_modal }}').submit(function (event) {
                event.preventDefault()

                let form = $(event.target)

                let formData = {}

                form.find('input, select, textarea').each(function () {
                    let input = $(this)
                    let name = input.attr('name')
                    let value = input.val()
                    if (name) formData[name] = value
                })

                showOverlay('{{ create_modal }}')

                $.ajax({
                    url: '{{ url }}',
                    method: 'POST',
                    data: JSON.stringify(formData),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': '{{ csrfToken }}'
                    },
                    success: function (response) {
                        setTimeout(() => {
                            hideOverlay(modal_id)
                        }, 750)

                        setTimeout(() => {
                            if (response.status != 'Error') {
                                $('#{{ create_modal }}').modal('hide')
                                location.reload()
                            }

                            if (response.status == 'Error') {
                                Toast.fire({
                                    icon: 'error',
                                    title: response.message,
                                })
                            }
                        }, 750)
                    },
                    error: function (xhr, status, error) {
                        setTimeout(() => {
                            hideOverlay(modal_id)
                        }, 750)

                        setTimeout(() => {
                            console.error('response: ', xhr.responseJSON)
                            console.error('error: ', error)
                            console.error('status: ', status)

                            Toast.fire({
                                icon: 'error',
                                title: xhr.responseJSON.message,
                            })
                        }, 750)
                    }
                })
            })

            $('#{{ edit_modal }}').submit(function (event) {
                event.preventDefault()

                let form = $(event.target)

                let id = form.find('input[name="id"]').val()

                let formData = {}

                form.find('input, select, textarea').each(function () {
                    let input = $(this)
                    let name = input.attr('name')
                    let value = input.val()
                    if (name && name != 'id') formData[name] = value
                })

                showOverlay('{{ edit_modal }}')

                $.ajax({
                    url: `{{ url }}/${id}`,
                    method: 'PUT',
                    data: JSON.stringify(formData),
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': '{{ csrfToken }}'
                    },
                    success: function (response) {
                        setTimeout(() => {
                            hideOverlay(modal_id)
                        }, 750)

                        setTimeout(() => {
                            if (response.status != 'Error') {
                                $('#{{ edit_modal }}').modal('hide')
                                location.reload()
                            }

                            if (response.status == 'Error') {
                                Toast.fire({
                                    icon: 'error',
                                    title: response.message,
                                })
                            }
                        }, 750)
                    },
                    error: function (xhr, status, error) {
                        console.error('response: ', xhr.responseJSON)
                        console.error('error: ', error)
                        console.error('status: ', status)

                        setTimeout(() => {
                            hideOverlay(modal_id)
                        }, 950)

                        setTimeout(() => {
                            Toast.fire({
                                icon: 'error',
                                title: xhr.responseJSON.message,
                            })
                        }, 950)
                    }
                })
            })

            const has_success = "{{ session.has('success-toast') }}".toLowerCase() == 'true'
            const has_error = "{{ session.has('error-toast') }}".toLowerCase() == 'true'

            if (has_success) {
                const success_toast = "{{ session.get('success-toast') }}"
                Toast.fire({
                    icon: 'success',
                    title: success_toast,
                })
            }

            if (has_error) {
                const error_toast = "{{ session.get('error-toast') }}"
                Toast.fire({
                    icon: 'error',
                    title: error_toast,
                })
            }
        })
    </script>
</body>

</html>